#div_carga{
  display:none;
}

td {
  width: 20%;
  color: white;
}

th {
  background-color: #b89df1;
}

div#dt-select_info {
  color: white;
}

div#dt-select_filter {
  color: white;
}

input {
  color: white !important;
}

.form-control.form-control-sm {
    color: black !important;
  }

.navbar.navbar-expand-lg.navbar-dark.mt-2 {
  background-color: 
  black;
}

.dropdown-item {
  color: white !important;
}

.dropdown-menu {
  background-color: black;
}

.dropdown-item:focus, .dropdown-item:hover {
  background-color: black !important;
  border: 1px solid white !important;
}

.menuB {
  border: 1px solid #fdfdfd !important;
  color: white !important;
}